@model List<ResultUserViewModel>
<form asp-area="Admin" asp-controller="User" asp-action="Index" method="post">

<select asp-items="@ViewBag.Roles" id="select_role" name="id">
   <option value="0">Tümü</option> 
</select>
<button type="submit" class="btn btn-primary">Listele</button>
</form>
<h1 class="text-primary">Üye Listesi</h1>
<table class="table table-bordered" id="users_table">
    <thead>

    <tr>
        <th>Id</th>
        <th>UserName</th>
        <th>Role</th>
        <th>#</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.UserName</td>
                <td>@foreach(var role in item.Roles){
                    @role.RoleName <span> </span>
                }
                </td>
                <td><a asp-area="Admin" asp-controller="User" asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-primary">Düzenle</a>
                    <a asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
        
    </tbody>
    
</table>

<script>
    $(document).ready(function () {
        $("#select_role").change(function () {
            var selected = $(this).val();
            $.ajax({
                url: '@Url.Action("GetUsersByRoleId","User",new{Area="Admin"})' + `/${selected}`,
                type: 'Get',
                dataType: 'html',
                success: function (response) {
                    $("#users_table").html(response);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
    })
</script>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" ></script>
}