@model ResultCartViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mobilya_Sitesi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mobilya_Sitesi.styles.css" asp-append-version="true" />
</head>
<body>

    <section class="h-100 h-custom" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4">

                            <div class="row">

                                <div class="col-lg-7">
                                    <h5 class="mb-3">
                                        <a asp-area="" asp-controller="User" asp-action="Index" class="text-body">
                                            <i class="fas fa-long-arrow-alt-left me-2"></i>Alışverişe Devam Et
                                        </a>
                                    </h5>
                                    <hr>
                                    <h2 class="text-primary">Sepetinizde @Model.CartItems.Count adet ürün mevcuttur.</h2>
                                    
                                    @foreach(var item in Model.CartItems){

                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>
                                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"
                                                             class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h5>@item.Product.ProductName</h5>
                                                        <p class="small mb-0">@item.Product.Category.CategoryName</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row align-items-center">
                                                    <div style="width: 50px;">
                                                        <h5 class="fw-normal mb-0">@item.Quantity</h5>
                                                    </div>
                                                    <div style="width: 80px;">
                                                        <h5 class="mb-0">@((item.Product.Price*item.Quantity).ToString("N")) ₺</h5>
                                                    </div>
                                                    <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    }

                                    

                                </div>
                                <div class="col-lg-5">

                                    <div class="card bg-primary text-white rounded-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center mb-4">
                                                <h5 class="mb-0">Sepet Özeti</h5>
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                                                     class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                                            </div>

                                            
                                            <a href="#!" type="submit" class="text-white">
                                                <i class="fab fa-cc-mastercard fa-2x me-2"></i>
                                            </a>
                                            <a href="#!" type="submit" class="text-white">
                                                <i class="fab fa-cc-visa fa-2x me-2"></i>
                                            </a>
                                            <a href="#!" type="submit" class="text-white">
                                                <i class="fab fa-cc-amex fa-2x me-2"></i>
                                            </a>
                                            <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>

                                            <form class="mt-4" asp-area="" asp-controller="Order" asp-action="CreateOrder" method="post">
                                                <div class="form-outline form-white mb-4">
                                                    <input type="text" name="FullName" id="typeName" class="form-control form-control-lg" siez="17"
                                                           placeholder="Kart Sahibinin Adı Soyadı" />
                                                    <label class="form-label" for="typeName">Kart Sahibi</label>
                                                </div>

                                                <div class="form-outline form-white mb-4">
                                                    <input name="CardNumber" type="text" id="typeText" class="form-control form-control-lg" 
                                                           placeholder="1234 5678 9012 3457"  />
                                                    <label class="form-label" for="typeText">Kart Numarası</label>
                                                </div>

                                                <div class="row mb-4">
                                                    <div class="col-md-6">
                                                        <div class="form-outline form-white">
                                                            <input name="ExpirationMonth" type="text" id="typeExp" class="form-control form-control-lg"
                                                                   placeholder="MM"  id="exp"  />
                                                            <label class="form-label" for="typeExp">Son Kullanım Ay:</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-outline form-white">
                                                            <input name="ExpirationYear" type="text" id="typeExp" class="form-control form-control-lg"
                                                                   placeholder="YYYY"  id="exp"  />
                                                            <label class="form-label" for="typeExp">Son Kullanım Yıl:</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-outline form-white">
                                                            <input name="Cvv" type="password" id="typeText" class="form-control form-control-lg"
                                                                   placeholder="&#9679;&#9679;&#9679;" />
                                                            <label class="form-label" for="typeText">Cvv</label>
                                                        </div>
                                                    </div>
                                                        <div class="col-md-12">
                                                        <div class="form-outline form-white">
                                                            <input name="Adress"  id="typeText" class="form-control form-control-lg"
                                                                   placeholder="Adres..." />
                                                            <label class="form-label" for="typeText">Adres Bilgisi:</label>
                                                        </div>
                                                    </div>
                                                </div>


                                            <hr class="my-4">

                                        

                                            <div class="d-flex justify-content-between mb-4">
                                                <p class="mb-2">Toplam Ödeme</p>
                                                <p class="mb-2">@Model.TotalPrice().ToString("N") ₺</p>
                                            </div>

                                            <button type="submit" class="btn btn-info btn-block btn-lg">
                                                <div class="d-flex justify-content-between">
                                                    
                                                    
                                                    <span>Ödeme Yap <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                                </div>
                                            </button>
                                            </form>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
@* 
<h1 class="display-6 text-primary">Sepet</h1>
<hr />
@if (Model.CartItems.Count == 0)
{
    <div class="alert alert-warning display-6 p-3">
        <p class="mb-0">Sepetinizde ürün bulunmamaktadır.</p>
    </div>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="50">Id</th>
                <th>Ürün</th>
                <th width="150">Fiyat</th>
                <th width="90">Adet</th>
                <th width="130">Toplam</th>
                <th width="100">#</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.CartItems.Count; i++)
            {
                <tr>
                    <td>@Model.CartItems[i].Id</td>
                    <td>
                        <img src="~/img/@Model.CartItems[i].Product.Image" style="width:30px" />
                        <span class="ms-2">@Model.CartItems[i].Product.ProductName</span>
                    </td>
                    <td class="align-middle">@($"{Model.CartItems[i].Product.Price:C0}")</td>
                    <td class="align-middle">
                        <form id="form_@Model.CartItems[i].Id" asp-area="" asp-controller="Cart" asp-action="ChangeQuantity" method="post">
                            <input type="hidden" value="@Model.CartItems[i].Id" name="Id" />
                            <input onchange="document.getElementById('form_@Model.CartItems[i].Id').submit();" class="form-control" type="number" value="@Model.CartItems[i].Quantity" name="Quantity" />
                        </form>
                    </td>
                    @* <td>@($"{(item.Product.Price * item.Quantity):C0}")</td> *@
                  @*   @{
                        var total = (Model.CartItems[i].Product.Price * Model.CartItems[i].Quantity);
                    }
                    <td class="align-middle">@($"{total:C0}")</td>
                    <td class="align-middle">
                        <a asp-area=""
                           asp-controller="Cart"
                           asp-action="RemoveItem"
                           asp-route-id="@Model.CartItems[i].Id"
                           class="btn btn-danger bnt-sm">Çıkar</a>
                    </td>
                </tr>
            }

        </tbody>
        <tfooter>
            <tr>
                <td colspan="4" class="text-end text-danger fw-bold align-middle">Toplam Tutar:</td>
                <td colspan="2" class="fs-2 display-6 text-primary">@($"{Model.TotalPrice():C0}")</td>
            </tr>
            <tr>
                <td colspan="6" class="text-end ">
                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Alışverişe Devam Et</a>
                    <a class="btn btn-success" asp-area="" asp-controller="Cart" asp-action="CheckOut">Ödeme Adımına Geç</a>
                </td>
            </tr>
        </tfooter>
    </table>
} *@ 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
</body>
</html>
